@{
    ViewBag.Title = "About";
}




<div class="col-md-4 head3">
    <h3>About me and my professional experience:  </h3>
    <p>
        Passionate, self-directed, and organized professional with extensive experience in technology.
        Motivated with a strong work ethic toward improving technology and software programs.
     <p>
         A master coach with 14 years of experience in leading and training in the latest technological advancements.
    </p>
    <p>
        Thrives within project management driven environments utlizing excellent collaboration skills.
    </p>
    <p>
        I found working with front end design compliments my artisitic abilities in the visual arts.
    </p>

</div>
<div class="col-md-4 head3">
    <h3>Exeperienced with the following:</h3>
    <div>
        <ul>
            <li>HTML/CSS</li>
            <li>MVC/Razor</li>
            <li>Bootstrap</li>
            <li>C#</li>
            <li>SQL</li>
        </ul>
    </div>
    <div>
        <h3>Proficient:</h3>
        <ul>
            <li>IT Support</li>
            <li>Instructional Learning Systems</li>
            <li>Project Management </li>
            <li>Network Planning </li>
            <li>Professional Development</li>
            <li>PowerSchool</li>
        </ul>

    </div>



</div>
<div class="col-md-4 about vertical-center img-circle ">

</div>
