@{
    ViewBag.Title = "Home Page";
}



<div class="col-md-12 brder1 mainpic img-responsive img-circle1">
    <div >
        <h1 class="head1">Hello! I'm Cynthia </h1>
        <div >
            <p class="head2">This is my design community.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 bgImage1 vertical-center img-circle ">
        
        <p class="btn head brder1">@Html.ActionLink("Projects", "Index", "ProjectsModels")</p>
       
    </div>
    <div class="col-md-4 bgImage2 vertical-center img-circle" >
                
        <p><a class="btn head brder1"href="https://github.com/cgmeiit" >GitHub </a></p>

    </div>
    <div class="col-md-4 bgImage3 vertical-center img-circle">
        
        <p><a class="btn head brder1"href="https://www.linkedin.com/home?trk=nav_responsive_tab_home">Linkdyn</a></p>

    </div>
</div>